body{
    margin:0;
    padding:0;
    display:flex;
    min-height:100vh;
    
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: sans-serif;
}
.main{
    height: 100vh;
    width: 100vw;
    align-items:center;
    justify-content: center;
}

h3{
    margin:15px;
    color: #FB4349;
}

.container{
    text-align: center;
    
   
}

.text{
    color: #fff;
    letter-spacing: 1px;
    margin: 10px;
    font-weight: bold;
}

.account{
    display: inline;
    background-color: #fff;
    padding: 0px;
    border-radius: 5px;
    margin: 20px;
    width: 40%;
}

.avatar{
 height: 200px;
     
}

.page{
    width: 350px;
    background: #fff;
    border-radius: 5px;
    padding-bottom: 15px;
    display: inline-block;
}

.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title img{
    width: 25%;
    margin-top: 20px;
}

form{
    width: 75%;
    display: flex;
    flex-direction: column;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
}

form input{
    margin-bottom:5px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 3px;
    outline: none;
}


form input:focus{
    border: 1px solid rgba(0,0,0,0.7);
    background: #efefef;
}


input[type="text"],input[type="password"]{
    padding-left: 10px;
    position:relative;
    height: 35px;
    font-size:17px;
}

input::placeholder{
    font-weight: normal;
    font-size:13px;
    transition: 0.3s ease;
}


input:focus::placeholder{
    position: absolute;
    font-size: 10px;
    transform: translateX(-13px);
}


form button{
    border:none;
    background: #043fff;
    padding: 5px 0;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 35px;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}


form button:active{
    background:#2c58fe;
    transform: scale(0.995);
}


form .option{
    color: #5a5a5a;
    margin: 10 0;
    font-weight: bold;
    position: relative;
}


form .option:before{
    position: absolute;
    content:'';
    width:37%;
    height: 2px;
    background: #b6b6b6;
    left: 0;
    top: 50%;
    transform:translateY(-50%);
    border-radius: 50px;
}


form .option:after{
    position: absolute;
    content:'';
    width:37%;
    height: 2px;
    background: #b6b6b6;
    right: 0;
    top: 50%;
    transform:translateY(-50%);
    border-radius: 50px;
}



.forget-id-login a{
    text-decoration: none;
    color: #043fff;
    font-size: 12px;
    font-weight: 500;
}

.forget-id{
    margin: 15px;
}

.forget-id a{
    text-decoration: none;
    color: #043fff;
    font-size: 12px;
    font-weight: 500;
}


.page .signup{
    position: relative;
    border: 1px solid #b6b6b6;
    border-radius: 2px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%); 
    margin-top:3px;
    margin-bottom: 10px;
}

.page .login{
    position: relative;
    border: 1px solid #b6b6b6;
    border-radius: 2px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%); 
    margin-top:13px;
    margin-bottom: 10px;
}

.login a{
    text-decoration: none;
    color: #043fff;
    font-weight: bold;
}

.signup a{
    text-decoration: none;
    color: #043fff;
    font-weight: bold;
}

.login p{
    font-size: small;
   }

.signup p{
 font-size: small;
}
#menuToggle
    {
      display: block;
      position: relative;
      top: 50px;
      left: 50px;
      
      z-index: 1;
      
      -webkit-user-select: none;
      user-select: none;
    }
    
    #menuToggle a
    {
      text-decoration: none;
      color: #232323;
      
      transition: color 0.3s ease;
    }
    
    #menuToggle a:hover
    {
      color: tomato;
    }
    
    
    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      
      cursor: pointer;
      
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      
      -webkit-touch-callout: none;
    }
    
    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      
      background: #cdcdcd;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
    }
    
    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }
    
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
      position: absolute;
      width: 300px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li
    {
      padding: 10px 0;
      font-size: 22px;
    }
    
    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
      transform: none;
    }
