body{

    background-color: #F0F0F0;
    font-family: 'Poppins';
}

button{

    border:none;
    background: #043fff;
    padding: 5px 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 35px;
    width: 20%;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;

}

#searchbar input{

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: none;
    width: 70%;

}

#searchbar{

width: 30%;
margin-left: 35%;

}

.post{

    background-color: white;
    width: 30%;
    height: 50%;
    margin-left: 35%;
    margin-top: 5%;
}

img{

width: 100%;

}




.description{

    margin-left: 10%;
    
    }
